
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,bold);
@import url(theme-grayscale.css);
@import url(blur.css);
@import url(panel-blur.css);

/* Background Image */
body          {background: url(//redacted.ch/static/styles/postmod/images/wood.jpg) no-repeat fixed;}
#extra3:after {background-image: url('images/wood.jpeg');}
#extra3:after {filter: blur(12px) brightness(50%);}
